
.top{color: rgb(221, 75, 57);
cursor: auto;
display: inline;
font-family: arial, sans-serif;
font-size: 20px;
font-weight: normal;
height: auto;
line-height: 31px;
text-decoration: none;
width: auto;}